*{
    margin: 0;
    padding: 0;
}

button{
    border: 0;
}

a, button{
    margin-top: 20px;
    display: inline-block;
    padding: 6px;
    border-radius: 5px;
    background-image: linear-gradient(black 20%, rgba(46, 46, 46, 0.589), gray);
    color: white;
    font-weight: 600;
    text-decoration: none;
    width: 120px;
    text-align: center;
}

a:hover{
    color: white;
}

form{
    border: 2px solid lightgreen;
    box-shadow: 2px 2px 5px lightblue;
    display: inline-block;
    padding: 20px;
}

input, select{
    width: 200px;
    display: block;
}